<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kotlin.musiclearning">

    <application
        android:name=".application.MusicLearningApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowDrawsSystemBarBackgrounds="false"
        tools:targetApi="m">
        <activity
            android:name=".view.mine.LikedActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".view.home.HomeActivity" />
        <activity android:name=".view.mine.PersonalFmActivity" />
        <activity android:name=".view.tiktok.ActivityTikTok" />
        <activity android:name="com.kotlin.lib_search.view.ResultSearchActivity" />
        <activity android:name="com.kotlin.lib_search.view.SearchActivity" />
        <activity android:name=".view.loading.LoadingActivity" />
        <activity android:name=".view.home.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kotlin.musiclearning.view.login.LoginActivity" />
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>